services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:v3.27.0
    container_name: mealie
    restart: always
    ports:
        - "{{ servers.mealie.vm_port }}:9000"
    deploy:
      resources:
        limits:
          memory: 1000M
    volumes:
      - mealie-data:/app/data/
    environment:
      # Set Backend ENV Variables Here
      ALLOW_SIGNUP: "false"
      ALLOW_PASSWORD_LOGIN: "false"
      PUID: 1000
      PGID: 1000
      TZ: America/New_York
      BASE_URL: https://{{ servers.mealie.hostname }}
      # Database Settings
      DB_ENGINE: postgres
      POSTGRES_USER: mealie
      POSTGRES_PASSWORD: {{ postgres_users.mealie.password }}
      POSTGRES_SERVER: {{ servers.postgres.internal_hostname }}
      POSTGRES_PORT: {{ servers.postgres.vm_port }}
      POSTGRES_DB: mealie
      OIDC_AUTH_ENABLED: "true"
      OIDC_CONFIGURATION_URL: https://{{ servers.auth.hostname }}/application/o/mealie/.well-known/openid-configuration
      OIDC_REQUIRES_EMAIL_VERIFICATION: "false"
      OIDC_CLIENT_ID: VtPhSBPCqVSFDpFcnhlKJUg9dzeJGYslfpkWuiNb
      OIDC_CLIENT_SECRET: {{ servers.mealie.oidc_secret }}
      OIDC_USER_GROUP: "Recipe Users"
      OIDC_ADMIN_GROUP: "Recipe Admins"
      OIDC_PROVIDER_NAME: "Olympus Auth"
      OIDC_REMEMBER_ME: "true"

volumes:
  mealie-data:

